[submodule "libs/messageBus"]
	path = libs/messageBus
	url = https://nnov.saas.sferaplatform.ru/app/sourcecode/api/M_Plane_Key/MessBus.git
[submodule "libs/baseModule"]
	path = libs/baseModule
	url = https://nnov.saas.sferaplatform.ru/app/sourcecode/api/M_Plane_Key/BaseModule.git
